body {
    margin:0;
    padding:0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(./images/dust_scratches.png);
 }

 #header {
     margin-bottom: 0;
     height: 90px;
     padding: 20px 10%;
     border-bottom-style: solid;
     border-bottom-color: #cccccc;
     background-color: #ffffff;
 }

 h1, h3, h4, h5 {
     color: #4aaaa5;
     font-weight: bold;
     font-family: 'Georgia', Times, Times New Roman, serif;
     font-size: 36px;
 }

 h3 {
     font-size: 20px;
 }

 #Adam {
     background-color: #4aaaa5;
     color: white;
     text-align: center;
     position: relative;
     height: 90px;
     bottom: 22px;
     right: 10px;
     width: 330px;
     padding-top: 35px;
     font-size: xx-large;
     font-weight: bold;
     font-family: 'Georgia', Times, Times New Roman, serif;
 }

 .thumbnail {
     width: 200px;
     height: 200px;
 }


 .container {
     border-color: #777777;
     padding: 0;
     margin-top: 40px;
 }

#contentarea {
    border-style: solid;
    border-color: #dddddd;
    background-color: white;
    width: 650px;
    height: 600px;
}


 #sidebar {
    text-align: center;
    width: 270px;
    height: 200px;
    background-color: white;
 }

.socialmedia {
    width: 60px;
    height: 60px;
    position: relative;
    right: 30%;
    top: 10px;
}

li {
    list-style-type: none;
    display: inline-block;
}
 
 .navbar-fixed-bottom {
    text-align: center;
    color: #ffffff;
    height: 60px;
    background-color: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 6px;
    padding-top: 20px;

}

p {
    font-size: large;
}

.pagelinks {
    font-size: large;
    position: relative;
    right: 135px; 
}

.panel>.panel-heading {
    background-image: none;
    background-color: white;
    padding: 20px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: x-large;

}

