/* Body */

body {
    margin:0;
    padding:0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: whitesmoke;
    background-image: url(./images/dust_scratches.png);
 }

 a {
     text-decoration: none;
 }

 /* Header Stuff */

 #header {
     margin-bottom: 0;
     height: 90px;
     padding: 20px 10%;
     border-bottom-style: solid;
     border-bottom-color: #F4D35E;
     background-color: #F4D35E;
 }

 h1, h3, h4, h5 {
     color: #F4D35E;
     font-weight: bold;
     font-family: 'Open Sans', sans-serif;
     text-shadow:
    -.5px -.5px 0 #55DBCB,
    .5px -.5px 0 #55DBCB,
    -.5px .5px 0 #55DBCB,
    .5px .5px 0 #55DBCB;
     font-size: 36px;
 }

 h3 {
     font-size: large;
     text-shadow:
     -.25px -.25px 0 #55DBCB,
     .25px -.25px 0 #55DBCB,
     -.25px .25px 0 #55DBCB,
     .25px .25px 0 #55DBCB;
 }

 .panel>.panel-heading {
    background-image: none;
    background-color: #561F37;
    padding: 20px;
    color: #F4D35E;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: x-large;

}

.panel-title {
    font-size: large;
}

 #Adam {
    background-color: #55DBCB;
    color: #F4D35E;
    text-shadow:
    -.5px -.5px 0 #561F37,
    .5px -.5px 0 #561F37,
    -.5px .5px 0 #561F37,
    .5px .5px 0 #561F37;
    text-align: center;
    position: relative;
    height: 88px;
    bottom: 20px;
    right: 10px;
    width: 330px;
    padding-top: 35px;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

#header {
    background-color: #561F37;
}


 /* Images */

 .thumbnail {
     width: 200px;
     height: 200px;
 }

 .socialmedia {
    width: 60px;
    height: 60px;
    position: relative;
    right: 30%;
    top: 10px;
}

#clickygame, #trivia, #GifTastic, #rpggame, #rutgers, #crystalscollector {
    margin-top: 10px;
    height: 210px;
    width: 270px;
    float: left;
}

#trivia, #GifTastic, #rpggame, #crystalscollector {
    margin-top: 40px;
}

#clickygame {
    background-image: url(./images/clickygame.png);
    background-size: cover;
}

#trivia {
    background-image: url(./images/trouttrivia.png);
    background-size: cover;
}

#GifTastic {
    background-image: url(./images/nfl.png);
    background-size: cover;
}

#rpggame {
    background-image: url(./images/rpggame.jpg);
}

#FriendFinder {
    background-image: url(./images/friendfinder.png);
    background-size: cover;
}

#crystalscollector {
    background-image: url(./images/crystalscollector.png);
    background-size: contain;
}

/* Containers */


 .container {
     border-color: #F4D35E;
     padding: 0;
     margin-top: 40px;
     margin-bottom: 40px;
 }

#contentarea {
    border-style: solid;
    border-width: .5px;
    border-color: #F4D35E;
    background-color:  #561F37;
    width: 650px;
    height: 600px;
}

#contentarea2 {
    border-style: solid;
    border-width: .5px;
    border-color: #F4D35E;
    background-color: #561F37;
    width: 650px;
    height: 860px;
}

 #sidebar {
    text-align: center;
    width: 270px;
    height: 200px;
    background-color: #561F37;
 }

 /* Lists */

li {
    list-style-type: none;
    display: inline-block;
}

.pagelinks {
    font-size: large;
    position: relative;
    right: 135px; 
}

.navbar-default .navbar-nav>li>a {
    color: #F4D35E;
}

/* Text */

p {
    font-size: large;
}

.portfoliotext {
    background-color: #55DBCB;
    margin-top: 52%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;

}

.port-link {
    text-decoration: none;
    color: whitesmoke;
}

.port-link:hover {
    text-decoration: none;
    color: #F4D35E;
    text-shadow: 
    -.25px -.25px 0 #561F37,
    .25px -.25px 0 #561F37,
    -.25px .25px 0 #561F37,
    .25px .25px 0 #561F37;
}
/* Footer */
 
 .navbar-fixed-bottom {
    text-align: center;
    color: #F4D35E;
    height: 90px;
    background-color: #561F37;
    border-top-color: #55DBCB;
    border-top-style: solid;
    border-top-width: 6px;
    padding-top: 30px;
    position: relative;
    bottom: 0;
}

/* Form Stuff */

#submit {
    background-color: #55DBCB;
    border-style: none;
    margin-left: 2.5%;
    width: 120px;
    height: 40px;
}

/* Media Queries */

@media screen and (max-width: 980px) {

    #sidebar {
    width: 100%;
    margin-top: 20px;
    }

    #contentarea {
    width: 100%;
    }

    #contentarea2 {
    width: 100%;
    }

    .navbar-fixed-bottom {
        position: absolute;
    }

    #trivia, #rutgers, #rpggame, #clickygame, #rockpaperscissors {
        width: 300px;
    }

    #Adam {
        margin-left: 10%;
    }

    .pagelinks {
        right: 50px;
    }

}







